<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles-login.css') }}" />
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #f2f2f2;
    }
    
    /* Rest of your CSS styles */
  </style>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>
